<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzapp</title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel=“preconnect” href=“https://fonts.googleapis.com”>
        <link rel=“preconnect” href=“https://fonts.gstatic.com” crossorigin>
        <link href=“https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=VT323&display=swap”
            rel=“stylesheet”>
        <link rel="stylesheet" href="./assets/css/style.css">
    </head>
    <body class>

        <!-- Milestone 1
            ● Replica della grafica con la possibilità di avere messaggi scritti dall'utente (verdi) e dall'interlocutore (bianco) assegnando due classi CSS diverse
            ● Visualizzazione dinamica della lista contatti: tramite la direttiva v-for, visualizzare nome e immagine di ogni contatto -->

        <!--  Milestone 2
            ● Visualizzazione dinamica dei messaggi: tramite la direttiva v-for, visualizzare tutti i
            messaggi relativi al contatto attivo all’interno del pannello della conversazione
            ● Click sul contatto mostra la conversazione del contatto cliccato -->

        <!-- Milestone 3
            ● Aggiunta di un messaggio: l’utente scrive un testo nella parte bassa e digitando
            “enter” il testo viene aggiunto al thread sopra, come messaggio verde
            ● Risposta dall’interlocutore: ad ogni inserimento di un messaggio, l’utente riceverà
            un “ok” come risposta, che apparirà dopo 1 secondo. -->

        <main id="site_main">
            <div id="app">

                <div id="left_side">
                    <div class="profile">
                        <div class="profile_info">
                            <div class="profile_img">
                                <img src="./assets/img/avatar_io.jpg"
                                    class="avatar"
                                    alt="my_avatar">
                            </div>
                            <!-- /.profile_img -->
                            <div class="profile_name">Marco</div>
                            <!-- /.profile_name -->
                        </div>
                        <!-- /.profile_info -->

                        <div class="profile_actions">
                            <div class="story">
                                <i class="fa-solid fa-circle-notch fa-lg fa-fw"></i>
                            </div>
                            <!-- /.story -->
                            <div class="status">
                                <i class="fa-solid fa-message fa-lg fa-fw"></i>
                            </div>
                            <!-- /.status -->
                            <div class="settings">
                                <i
                                    class="fa-solid fa-ellipsis-vertical fa-lg fa-fw"></i>
                            </div>
                            <!-- /.settings -->
                        </div>
                        <!-- /.profile_settings -->

                    </div>
                    <!-- /.profile_settings -->
                    <div class="communications">
                        <div class="communication_icon">
                            <i class="fa-solid fa-bell-slash fa-lg"></i>
                        </div>
                        <!-- /.communication-icon -->
                        <div class="communication_info">
                            <div class="communication_text">
                                Ricevi notifiche di nuovi messaggi
                            </div>
                            <!-- /.communication_text -->
                            <div class="communication_link">
                                <a href="#">Attiva notifiche desktop</a>
                            </div>
                            <!-- /.communication_link -->
                        </div>
                        <!-- /.communication-info -->
                    </div>
                    <!-- /.communications -->
                    <div class="search_bar">
                        <form>
                            <button type="submit" class="search_button">
                                <i class="fas fa-search fa-lg fa-fw"></i>
                            </button>
                            <input type="text" class="search_input"
                                placeholder="Cerca o inizia una nuova chat">
                        </form>
                    </div>
                    <!-- /.contacts_search_bar -->
                    <div class="contact_list">
                        <template v-for="(item, i) in contacts">
                            <div class="contact"
                                :class="activeContact === i ? 'active' : ''"
                                @click="toActiveContact(i)">
                                <div class="contact_image">
                                    <img
                                        :src="item.avatar"
                                        alt class="avatar">
                                </div>
                                <!-- /.contact_image -->
                                <div class="contact_info">
                                    <div class="contact_name">{{item.name}}</div>
                                    <!-- /.contact_name -->
                                    <small class="contact_last_message">
                                        {{ item.messages[item.messages.length -
                                        1].message }}
                                    </small>
                                    <!-- /.contact_last_message -->
                                </div>
                                <!-- /.contact_info -->
                                <div class="last_message_hour">
                                    <small>12:00</small>
                                </div>
                                <!-- /.last_message_hour -->
                            </div>
                            <!-- /.contact -->
                        </template>
                        <!-- /template -->
                    </div>
                    <!-- /.contacts_list -->
                </div>
                <!-- /#left_side -->

                <div id="right_side">

                    <div id="chat">
                        <div class="top">
                            <div class="chat_contact">
                                <div class="chat_contact_image">
                                    <img
                                        :src="contacts[activeContact].avatar">
                                </div>
                                <!-- /.contact_image -->
                                <div class="chat_contact_info">
                                    <div class="chat_contact_name">{{contacts[activeContact].name}}</div>
                                    <!-- /.contact_name -->
                                    <small class="chat_contact_last_access">
                                        Ultimo Accesso oggi alle 12:00
                                    </small>
                                    <!-- /.contact_last_message -->
                                </div>
                                <!-- /.contact_info -->
                            </div>
                            <!-- /.contact -->
                            <div class="chat_actions">
                                <div class="search">
                                    <i
                                        class="fa-solid fa-magnifying-glass fa-lg fa-fw"></i>
                                </div>
                                <!-- /.search -->
                                <div class="paperclip">
                                    <i class="fa-solid fa-paperclip fa-lg fa-fw"></i>
                                </div>
                                <!-- /.graffetta -->
                                <div class="settings">
                                    <i
                                        class="fa-solid fa-ellipsis-vertical fa-lg fa-fw"></i>
                                </div>
                                <!-- /.settings -->
                            </div>
                            <!-- /.chat_settings -->
                        </div>
                        <!-- /.top -->
                        <div class="chat_messages">

                            <div class="container">
                                <template
                                    v-for="item in contacts[activeContact].messages">
                                    <div class="message" :class="item.status">
                                        <div class="text_message">{{item.message}}</div>
                                        <!-- /.text_message -->
                                        <small class="hour">
                                            <!-- TODO: Rifare il calcolo dell'ora!! -->
                                            {{ new Date(item.date).getHours() +
                                            ':' +
                                            new Date(item.date).getMinutes() }}
                                        </small>
                                        <!-- /.hour -->
                                    </div>
                                    <!-- /.message -->
                                </template>
                            </div>

                        </div>
                        <!-- /.chat -->
                        <div class="bottom">
                            <div class="chat_inputs">
                                <div class="emoticons">
                                    <i
                                        class="fa-regular fa-face-smile fa-lg fa-fw"></i>
                                </div>
                                <!-- /.emoticons -->
                                <div class="chat_input">
                                    <input type="text" class="text_area"
                                        placeholder="Scrivi un messaggio"
                                        v-model="newMessage"
                                        @keyup.enter="sendMessage">
                                </div>
                                <!-- /.chat_input -->
                                <div class="voice_message">
                                    <i
                                        class="fa-solid fa-microphone fa-lg fa-fw"></i>
                                </div>
                                <!-- /.voice_message -->
                            </div>
                            <!-- /.chat_inputs -->
                        </div>
                        <!-- /.chat_inputs -->
                    </div>
                    <!-- /.chat -->

                </div>
                <!-- /#right_side -->
            </div>
            <!-- /#app -->
        </main>
        <!-- /#site_main -->

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script type="text/javascript" src="./assets/js/script.js"></script>
    </body>
</html>