* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ‘Roboto’, sans-serif;
}

:root {
    --bz-white: #fff;
    --bz-white-soft: #fafafa;
    --bz-light: #eaeaea;
    --bz-light-soft: #d9dbd4;
    --bz-dark: #6b7376;
    --bz-dark-soft: #b1b1b1;
    --bz-black: #000;
    --bz-success: #009688;
    --bz-success-light: #d5f9ba;
    --bz-communications: #8edafc;
    --bz-communications-soft: #f2fbff;
    --bz-border: #f3f3f3;
}

/* #region debug */

.debug #right_side {
    background-color: palevioletred;
}

.debug .profile {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.debug .profile_actions {
    background-color: yellow;
}

.debug .communications {
    background-color: blue;
}

.debug .contacts {
    background-color: green;
}

.debug .top {
    background-color: orange;
}

.debug .chat_messages {
    background-color: salmon;
}

.debug .bottom {
    background-color: orange;
}

/* #endregion debug */


/* #region generals */

#site_main {
    height: 100vh;
    background: linear-gradient(to bottom, var(--bz-success) 15%, var(--bz-light-soft) 15% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    background-color: var(--bz-light);
    width: 80%;
    height: 95%;
    display: flex;
}

#left_side {
    border-right: 1px solid var(--bz-light);
    width: 35%;
    display: flex;
    flex-direction: column;
}

#right_side {
    width: 65%;
    height: 100%;
}

.avatar {
    width: 60px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin: .5rem;
}

.contact.active {
    background-color: var(--bz-light);
}

.sent {
    background-color: var(--bz-success-light);
    align-self: flex-end;
}

.received {
    background-color: var(--bz-white);
    align-self: flex-start;
}

i,
img,
.profile_name,
.contact,
.communication_info,
.chat_contact {
    cursor: pointer;
}

/* #endregion generals */

/* #region left_side */

/* #region profile */

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile_info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_img {
    line-height: 0;
}

.profile_img img {
    width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin: .5rem;
}

.profile_name {
    font-weight: 400;
}

.profile_actions {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bz-dark-soft);
    padding: 0 .5rem;
}

.story,
.status,
.settings {
    padding: .4rem;
}

/* #endregion profile */

/* #region communications */

.communications {
    background-color: var(--bz-communications);
    display: flex;
    align-items: center;
}

.communication_icon .fa-bell-slash {
    background-color: var(--bz-communications-soft);
    color: var(--bz-communications);
    width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.communication_link a {
    color: var(--bz-dark);
    font-size: .8rem;
    letter-spacing: 1px;
}

/* #endregion communications */

/* #region search_bar */

.search_bar {
    width: 100%;
    background-color: var(--bz-white-soft);
}

.search_bar form {
    display: flex;
    padding: .5rem;
}

.search_button {
    width: 80px;
    height: 35px;
    background-color: white;
    border: 1px solid var(--bz-border);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_button .fa-search {
    color: var(--bz-dark-soft);
}

.search_input {
    width: 100%;
    padding-left: .5rem;
    border: 1px solid var(--bz-border);
    border-left: none;
}

/* #endregion search_bar */

/* #region contact_list*/

.contact_list {
    background-color: var(--bz-white);
    border-bottom: 1px solid var(--bz-light);
    overflow-y: auto;
    height: 100%;
}

.contact {
    width: 100%;
    display: flex;
    padding: .25rem;
    color: var(--bz-dark-soft);
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--bz-light);
}

.contact_image {
    line-height: 0;
}

.contact_info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 0.8rem;
}

.contact_name {
    color: var(--bz-black);
    margin-bottom: .5rem;
}

.last_message_hour {
    display: flex;
    justify-content: end;
    margin-right: 0;
    padding: .5rem;
}

/* #endregion contact */

/* #endregion left_side */

/* #region right_side */

#chat {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.top {
    display: flex;
    align-items: center;
}

.chat_contact {
    width: 100%;
    display: flex;
    color: var(--bz-dark-soft);
    align-items: center;
}

.chat_contact_image {
    line-height: 0;
}

.chat_contact_image img {
    width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin: .5rem;
}

.chat_contact_name {
    color: var(--bz-black);
}

.chat_actions {
    display: flex;
    align-items: center;
    color: var(--bz-dark-soft);
}

.search,
.paperclip,
.settings {
    padding: .4rem;
    font-size: bold;
}

.bottom {
    padding: 0 1rem;
}

.emoticons,
.chat_input,
.voice_message {
    padding: 1rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat_messages {
    background-image: url(../img/mine.jpg);
    flex-grow: 1;
    overflow-y: auto;
    padding-top: 3rem;
}

.chat_messages .container {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.message {
    border-radius: 10px;
    width: 35%;
    padding: .5rem;
    margin: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.message_text {
    margin: .5rem;
    max-width: 85%;
    word-wrap: break-word;
}

.message > i.fa-chevron-down {
    display: none;
    align-self: start;
}

.message > .fa-chevron-down.active {
    display: block;
}

.message:hover > i.fa-chevron-down {
    display: block;
}

.message_settings {
    padding-right: .25rem;
    flex-grow: 0;
    background-color: var(--bz-light);
    border-radius: 10px;
    padding: .5rem;
    position: absolute;
    right: 10px;
    top: 30px;
    z-index: 10;
    display: none;
}

.message_settings.active {
    display: block;
}

.message_info,
.message_remove {
    margin: 1rem;
}

.hour {
    display: block;
    text-align: right;
    font-size: 0.6rem;
    padding: 0 .5rem .25rem 0;
    position: absolute;
    right: 0;
    bottom: 0;
}

.chat_inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--bz-dark);
}

.chat_input {
    flex-grow: 1;
}

.text_area {
    width: 100%;
    height: 40px;
    border: 0;
    padding: 1rem .5rem;
    border-radius: 5px;
}

/* #endregion right_side */